.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-container {
    justify-content: space-around;
}

.navbar {
    display: flex;
    align-items: center;
}

.rightnav {
    display: flex;
}

.rightnav>li>a {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    color: #394149;
    font-weight: 600;
    font-size: 16px;
}

.button {
    display: flex;
    justify-content: center;
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button a {
    color: #f58a07;
    font-weight: 600;
}

header {
    margin-top: 30px;
    display: flex;
}
.career-head{
    width: 100%;
    display: flex;
    margin-top: 122px;
}
.leftside{
    width: 50%;
}
.right__side{
    width: 50%;
    display: flex;
}
.leftside h6{
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #1D3444;
    width: 90%;
}
.leftside p{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5B5B5B;
    padding-top: 24px;
}
.location{
    width: 45%;
    padding-top: 25px;  
}
.location h6{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #0D1317;
}
.location p{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5B5B5B;
    padding-top: 16px;
}
.contact{
    width: 55%;
    padding-top: 20px;
    padding-left: 76px;
}
.contact h6{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.03em;
    text-align: left;
}
.phone{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5B5B5B;
    padding-top: 16px;
}
.mail{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #5B5B5B; 
    padding-top: 4px;
}
.contact_section{
    margin-top: 64px;
    display: flex;
    margin-left: -80px;
}
.first_name{
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    padding-left: 32px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 490px;
}
.first_name a{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #9C9C9C;
}
.last_name{
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    padding-left: 32px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 491px;
    margin-top: 16px;
}
.last_name a{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #9C9C9C;
}
.email{
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    padding-left: 32px;
    padding-top: 17px;
    padding-bottom: 18px;
    padding-right: 466px;
    margin-top: 16px;
}
.email a{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #9C9C9C;
}
.type{
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 100px;
    padding-right: 461px;
    margin-top: 16px;
}
.type a{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #9C9C9C;
}
.map{
    margin-left: 55px;
    margin-top: 20px;
}

.last_btn{
    display: inline-block;
    background: #F58A07;
    border-radius: 31px;
    padding-left: 32px;
    padding-top: 18px;
    padding-bottom: 19px;
    padding-right: 32px;
    margin-top: 32px;
    margin-bottom: 128px;
}
.last_btn a{
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
}
footer{
    background-color: #063255;
  }
  .footer{
    overflow: hidden;
  }    
  
  .footer-background{
    color: #fff;
  }    
  
  .footer-top{
    height: 290px;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
  }    
  
  
  .footer-left{
    height: 199px;
    width: 351px;
  }    
  
  .footer-left-background{
    color: #fff;
  }    
  
  
  .footer-left_heading{
    height: 88px;
    width: 351px;
    padding-top:  32px;
  }    
  
  .footer-left_heading h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.03em;
    text-align: left;
  }    
  
  .footer-left-icon{
    height: 20px;
    width: 136px;
    border-radius: 0px;
    gap: 20px;
    display: flex;
    margin-top: 30px;
    padding-top: 37px;
  }    
    
  .footer-list{
    justify-content: space-between;
  }    
  
  .footer-list1{
    margin-top: -20px;
    
  }    
  
  .footer-list1 h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
  }    
  
  .footer-list2{
    margin-top: 16px;
  
  }    
  
  .footer-list2 a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
  }    
  
  .footer-list3{
    margin-top: 16px;
  }    
  
  .footer-list a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
  }    
  
  .footer-list4{
    
    
    margin-top: 16px;
  }    
  
  .footer-list4 a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
  }    
  
  .footer-list5{
    
    margin-top: 16px;
  }    
  
  .footer-list5 a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
  }    
    
  .footer-second-list1{
    margin-top: -20px;
  }
  
  .footer-second-list1 h4{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    
  }    
  .footer-second-list2{
    
    margin-top: 26px;
    
  }    
  .footer-second-list2 a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
  }    
  .footer-second-list3{
     
    margin-top: 16px; 
  }    
  .footer-second-list3 a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
  }    
  
  
  .footer-btn{
    height: 175px;
    width: 342px;
    border-radius: 31px;
    
  }    
  
  .footer-btn_header{
    margin-top: -20px;
      
  }    
  
  .footer-join_header p{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    
  }    
  .first-footer_btn{
    height: 54px;
    width: 342px;
    border-radius: 31px;
    background-color: #FFFFFF;
    margin-top: 24px;
  }    
  
  .footer-btn1{
    height: 19px;
    width: 222px;
    padding: 15px 32px;
    
  }    
  
  .footer-btn1 a{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #9C9C9C;
    
  }    
  .second-footer_btn{
    height: 54px;
    width: 156px;
    border-radius: 31px;
    background-color: #F58A07;
    margin-top: 16px;
    padding: 15px 32px;
  }    
  .footer-join-btn2{
    height: 19px;
    width: 92px;
    
  }    
  .second-footer_btn2 a{
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    
  }    
  
  .footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
  }    
  
  .footer-bottom-left-shape{
    height: 144px;
    width: 52px;
    
    margin-top: 150px;
    background-color: #F58A07;
    
    border-top-right-radius: 20px;
  }    
  .footer-bottom-right-shape{
    height: 287px;
    width: 53px;
    margin-top: -100px;
    margin-left: 300px;
    background-color: #F58A07;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }    
  
  .footer_credit{
    height: 24px;
    width: 1280px;
    display: flex;   
    margin-top: 180px;
    margin-left: 278px;
    justify-content: space-between;
  }    
  
  .privacy{
    display: flex;
    justify-content: start;
    height: 24px;
    width: 298px;
    border-radius: nullpx;
    
  }    
  
  .footer-credit{
    height: 24px;
    width: 300px;
  }    
  
  .footer-credit a{
    
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
  }    
  .footer-privacy{
    height: 24px;
    width: 200px;
    
  }    
  .footer-privacy a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
  }    
  .footer-terms{
    height: 24px;
    width: 250px;
    
  }    
  .footer-terms a{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }   
